{% extends 'base.html' %} {% block title %}Ifeoluwa Ilori{% endblock title %}
<p></p>
{% block content %} {% load static %}
<p></p>
{% for about in abouts %}
<section
  class="site-hero"
  style="background-image: url('{{about.display_photo.url}}')"
  id="section-home"
  data-stellar-background-ratio="0.5"
>
  <div class="container">
    <div class="row intro-text align-items-center justify-content-center">
      <div class="col-md-10 text-center pt-5">
        <h1 class="site-heading site-animate">
          Hello, I'm <strong class="d-block">{{about.name}}</strong>
        </h1>
        <strong class="d-block text-white letter-spacing"
          >I am a {{about.title}}</strong
        >
      </div>
    </div>
  </div>
</section>
{% endfor %}
<!-- section -->

<section class="site-section" id="section-about">
  <div class="container">
    {% for about in abouts %}
    <div class="row mb-5 align-items-center">
      <div class="col-lg-7 pr-lg-5 mb-5 mb-lg-0">
        <img
          src="{{about.about_photo.url}}"
          alt="Image placeholder"
          class="img-fluid"
        />
      </div>
      <div class="col-lg-5 pl-lg-5">
        <div class="section-heading">
          <h2>About <strong>Me</strong></h2>
        </div>
        <p class="mb-5">{{about.body}}</p>
        <p>
          <a
            href="#section-contact"
            class="btn btn-primary px-4 py-2 btn-sm smoothscroll"
            >Hire Me</a
          >
          <a
            href="/media/{{about.resume}}"
            class="btn btn-secondary px-4 py-2 btn-sm"
            target="_blank"
            >Download Resume</a
          >
        </p>
      </div>
    </div>
    {% endfor %}
  </div>
</section>

<!-- Skills -->
<section class="site-section" id="section-skills">
  <div class="container">
    <div class="row">
      <div class="section-heading text-center col-md-12">
        <h2>
          Featured <strong>Skills</strong> & <strong>Technologies</strong>
        </h2>
      </div>
      <div>
        <ul class="skills__list" class="text_center">
          {% for skill in skills %}
          <li class="btn btn--plain" style="text-transform: none">
            {{skill.name}}
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="site-section" id="section-projects">
  <div class="container">
    <div class="row">
      <div class="section-heading text-center col-md-12">
        <h2>Featured <strong>Projects</strong></h2>
      </div>
    </div>
    <div class="filters">
      <ul>
        <li class="active" data-filter="*">All</li>
        <li data-filter=".personal">Personal</li>
        <li data-filter=".contribution">Contributions</li>
      </ul>
    </div>

    <div class="filters-content">
      <div class="row grid">
        {% for contribution in contributions %}
        <div class="single-portfolio col-sm-4 {{contribution}}">
          <div class="p-inner">
            <h4>{{contribution.name}}</h4>
          </div>
          <div class="relative">
            <div class="thumb">
              <div class="overlay overlay-bg"></div>
              <img
                class="image img-fluid"
                src="{{contribution.photo.url}}"
                alt=""
              />
            </div>
          </div>
          <div class="mini-buttons text-center">
            <a
              href="{{contribution.web_url}}"
              class="btn btn-primary btn-sm"
              target="_blank"
              >Live App</a
            >
            <a
              href="{{contribution.github_url}}"
              class="btn btn-secondary btn-sm"
              target="_blank"
              >GitHub</a
            >
          </div>
          <br />
          <div class="p-inner">
            <div class="cat">{{contribution.description}}</div>
          </div>
        </div>
        {% endfor %} {% for personal in personals %}
        <div class="single-portfolio col-sm-4 all personal">
          <div class="p-inner">
            <h4>{{personal.name}}</h4>
          </div>
          <div class="relative">
            <div class="thumb">
              <div class="overlay overlay-bg"></div>
              <img
                class="image img-fluid"
                src="{{personal.photo.url}}"
                alt=""
              />
            </div>
          </div>
          <div class="mini-buttons text-center">
            <a
              href="{{personal.web_url}}"
              class="btn btn-primary btn-sm"
              target="_blank"
              >Live App</a
            >
            <a
              href="{{personal.github_url}}"
              class="btn btn-secondary btn-sm"
              target="_blank"
              >GitHub</a
            >
          </div>
          <br />
          <div class="p-inner">
            <div class="cat">{{personal.description}}</div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
<!-- .section -->

<section class="site-section pb-0" id="section-services">
  <div class="container">
    <div class="row mb-4">
      <div class="col-md-12">
        <div class="section-heading text-center">
          <h2>My <strong>Services</strong></h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-4 text-center mb-5">
        <div
          class="site-service-item site-animate"
          data-animate-effect="fadeIn"
        >
          <span class="icon">
            <span class="icon-browser2"></span>
          </span>
          <h3 class="mb-4">Web Design</h3>
          <p>
            Far far away, behind the word mountains, far from the countries
            Vokalia and Consonantia, there live the blind texts. Separated they
            live in Bookmarksgrove right at the coast of the Semantics, a large
            language ocean.
          </p>
          <p>
            <a href="#" class="site-link"
              >Learn More <i class="icon-chevron-right"></i
            ></a>
          </p>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 text-center mb-5">
        <div
          class="site-service-item site-animate"
          data-animate-effect="fadeIn"
        >
          <span class="icon">
            <span class="icon-presentation"></span>
          </span>
          <h3 class="mb-4">Search Engine Optimization</h3>
          <p>
            A small river named Duden flows by their place and supplies it with
            the necessary regelialia. It is a paradisematic country, in which
            roasted parts of sentences fly into your mouth.
          </p>
          <p>
            <a href="#" class="site-link"
              >Learn More <i class="icon-chevron-right"></i
            ></a>
          </p>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 text-center mb-5">
        <div
          class="site-service-item site-animate"
          data-animate-effect="fadeIn"
        >
          <span class="icon">
            <span class="icon-video2"></span>
          </span>
          <h3 class="mb-4">Video Editing</h3>
          <p>
            Even the all-powerful Pointing has no control about the blind texts
            it is an almost unorthographic life One day however a small line of
            blind text by the name of Lorem Ipsum decided to leave for the far
            World of Grammar.
          </p>
          <p>
            <a href="#" class="site-link"
              >Learn More <i class="icon-chevron-right"></i
            ></a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="site-section" id="section-contact">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mb-5">
        <div class="section-heading text-center">
          <h2>Get <strong>In Touch</strong></h2>
        </div>
      </div>

      <div class="col-md-7 mb-5 mb-md-0">
        <form action="" class="site-form">
          <h3 class="mb-5">Get In Touch</h3>
          <div class="form-group">
            <input
              type="text"
              class="form-control px-3 py-4"
              placeholder="Your Name"
            />
          </div>
          <div class="form-group">
            <input
              type="email"
              class="form-control px-3 py-4"
              placeholder="Your Email"
            />
          </div>
          <div class="form-group">
            <input
              type="email"
              class="form-control px-3 py-4"
              placeholder="Your Phone"
            />
          </div>
          <div class="form-group mb-5">
            <textarea
              class="form-control px-3 py-4"
              cols="30"
              rows="10"
              placeholder="Write a Message"
            ></textarea>
          </div>
          <div class="form-group">
            <input
              type="submit"
              class="btn btn-primary px-4 py-3"
              value="Send Message"
            />
          </div>
        </form>
      </div>
      {% for about in abouts %}
      <div class="col-md-5 pl-md-5">
        <h3 class="mb-5">My Contact Details</h3>
        <ul class="site-contact-details">
          <li>
            <span class="text-uppercase">Email</span>
            {{about.email}}
          </li>
          <li>
            <span class="text-uppercase">Phone</span>
            {{about.phone_number}}
          </li>
          <li>
            <span class="text-uppercase">Address</span>
            {{about.city}}, {{about.country}}
          </li>
        </ul>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock content %}
